.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.gif
*.md
*.npz
*.html
*.npy
*.bak*
*.gif
*.txt


OBC_Implementation/diagnosis/
Neural_Net/
# Exceeds GitHub 100MB file size limit
2layer_jet/No-periodicity-NS-2-layer-baroclinic-jet.ipynb

OBC_Implementation/Checkpoints
