.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.gif
*.md
*.npz
*.html
*.npy

OBC_Implementation/diagnosis/
Neural_Net/
# Exceeds GitHub 100MB file size limit
2D_orlanski/No-periodicity-NS-2-layer-baroclinic-jet.ipynb
